html {
    height: 100%;
    font-family: myFont;
}

body{
  background-image: url("newYork.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/*.background {
  position: fixed;
  top: 0;
  /*z-index: 0;

}*/

/*.behind {
  width: 100%;
  height: 170px;
  z-index: 1;
}*/


/*HEADER*/

.header {
/*  position: fixed;
  top:0px;
  width: 100%;*/
  height: 115px;
  /*border: 1px solid black;*/
  background: rgba(125,125,125,1);
  color: #e8e9e9;
    background-image: url("logo1.png");
    background-repeat: no-repeat;
    background-position: center;

}

.header div {
  text-align: center;
}

.header img {
  margin: 10px;
}

.footer {
  height: 60px;
  background: #9B0808;
}

.headerLog {
  height: 115px;
  background: rgba(155,8,8,1);
  color: #e8e9e9;
}

.headerLog div {
  text-align: center;
}

.headerLog img {
  margin: 10px;
}

.information {
    margin-top: 20px;
    float: right;
    display: none;
}

.information a {
    text-decoration: none;
    margin-right: 20px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

/*NAVIGATOR*/

.line {
    background:  #9B0808;
    height: 60px;
}

.navigationBar {
    display: none;
}

.navigation {
  background:  #9B0808;
  text-align: center;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
    display: block;
}


nav ul {
  display: inline-block;
  height: 60px;
  background: #9B0808;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  position: relative;
  text-align: center;
}

nav ul:after {
  content: ""; 
  clear: both; 
  display: block;
}

nav ul li {
    width: 130px;
  float: left;
}

nav ul li:hover {
    background: #6d0606;
}
  
nav ul li a {
  display: block; 
  padding: 20px;
  color: white; 
  font-family: myFont;
  text-decoration: none;
  font-size: 16px;
}

nav ul li:hover a {
  padding: 20px;
  color: white;
  font-family: myFont;
  text-decoration: none;
  font-size: 16px;
  background: #6d0606;
}

nav ul ul {
  background: #6d0606;  
  padding: 0;
  position: absolute; 
  top: 100%;
}

nav ul ul li {
  width: 190px;
  float: none; 
  border-top: 1px solid #494949;
  border-bottom: 1px solid #494949;
  position: relative;
}

nav ul ul li a {
  padding: 20px;
  color: white;
} 

nav ul ul li a:hover {
  background: #494949;
}

.navRight {
  float: right;
}

.li:active {
    box-shadow: inset 2px 2px 5px rgba(50,8,8,.75);
}

.adminSetup {
    display: none;
}


.wrapper {
  clear: both;
  display: block;
  width: 900px;
  margin: 0 auto;
}


/*LOG IN*/

.login {
    padding: 15px;
    width: 600px;
    margin: 20px auto;
    border: 1px solid #494949;
    background: rgba(120,120,120,0.9);
    /*display: none;*/
}

/*REGISTRATION DIV*/
.registration {
  padding: 15px;
  width: 600px;
  margin: 20px auto;
  border: 1px solid #494949;
  background: rgba(120,120,120,0.9);
  /*display: none;*/
}

/*CREATE ROOM DIV*/
.createRoom {
  padding: 15px;
  width: 600px;
  margin: 20px auto;
  border: 1px solid #494949;
  background: rgba(120,120,120,0.9);
  /*display: none;*/
}

/*ADD EXTRAS TO ROOM*/
.addExtras {
  width: 400px;
  margin: 20px auto;
}

.addExtras p{
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #1f1f1f;
    text-align: center;
}

/*FILTER*/
.filter {
  display: inline-block;
  padding: 15px;
  width: 800px;
  margin: 20px 50px;
  border: 1px solid #494949;
  background: rgba(120,120,120,0.9);
/*  display: none;*/
}

.filter .container {
  width: 210px;
  float: left;
  margin: 5px 0px 5px 40px;
  font-family: myFont;
}

.filter p {
  margin: 5px;
}

.fieldFilter {
  width: 200px;
  height: 25px;
  background: #fff;
  background-image: none;
  border: 1px solid #494949;
  border-radius: 4px;
  box-shadow: inset 1px 1px 5px rgba(100,100,100,.75);
  font-family: myFont;
  text-align: center;
}

#filterButton {
  width: 390px;
  margin: 0 auto;
  font-family: myFont;

}

/*FORM STYLE*/
.redLine {
  background: rgba(155,8,8,0.8);
  height: 50px;
  text-align: center;
  border-bottom: 2px solid #1f1f1f;
}

.formName {
  margin: 5px 0 ;
  padding: 5px;
  color: white;
  font-family: myFont;
}

.error {
  margin: 0.3em 0;
  color: #ff4242;
  font-size: 13px;
  font-weight: bold;
  font-family: myFont;
  text-align: left !important;
  /*display: none;*/
}

.container {
  width: 400px;
  margin: 10px auto;
  font-family: myFont;
}

.field {
  width: 400px;
  height: 25px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #494949 !important;
  border-radius: 4px;
    box-shadow: inset 1px 1px 5px rgba(100,100,100,.75);
  font-family: myFont;
  text-align: center;
}

.checkBox {
  font-family: myFont;
  text-align: center;
  /*color: white;*/
}

.button {
  height: 40px !important;
  background-color: #9B0808 !important;
    box-shadow: inset 4px 4px 10px rgba(220,8,8,.75) !important;
    border-top: none !important;
    border-left: none !important;
    border-bottom: 1px solid #494949 !important;
    border-right: 1px solid #494949 !important;
}

.button:active {
    height: 40px !important;
    background-color: #9B0808 !important;
    box-shadow: inset 3px 3px 5px rgba(50,8,8,.75) !important;
    border-top: none !important;
    border-left: none !important;
    border-bottom: 1px solid #494949 !important;
    border-right: 1px solid #494949 !important;
}

#editInfoButton {
    display: block;
}
#saveChanges {
    display: none;
}

h3 {
  /*color: white;*/
  font-family: myFont;
}

.accountFieldInfo {
    margin: 0;
    height: 25px;
}

/*ROOMS VIEW*/

.rooms {
    padding: 15px;
    width: 600px;
    margin: 20px auto;
    border: 1px solid #494949;
    background: rgba(120,120,120,0.9);
}

.redLineType {
    background: rgba(155,8,8,0.8);
    /*text-align: center;*/
    border-bottom: 2px solid #1f1f1f;
    /*font-weight: bold;*/
    color: #ffffff;
    padding: 5px;
}

.informationLine:hover {
    color : rgb(60,60,60);
    cursor: pointer;
}

/*ACCOUNT VIEW */

.accounts {
    padding: 15px;
    width: 600px;
    margin: 20px auto;
    border: 1px solid #494949;
    background: rgba(120,120,120,0.9);
}

.guests {
    padding: 15px;
    width: 600px;
    margin: 20px auto;
    border: 1px solid #494949;
    background: rgba(120,120,120,0.9);
}


@font-face {
    font-family: myFont;
    src: url(fonts/Merriweather-Regular.ttf);
}


/*ROOM VIEW INFORMATION*/
.roomInfo {
    float: left;
    padding: 20px;
    width: 400px;
    /*height: 635px;*/
    margin: 15px 10px 15px 0;
    border: 1px solid #494949;
    background: rgba(120,120,120,0.9);
}

.fieldInfo {
    width: 340px;
    height: 20px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #494949;
    border-radius: 4px;
    box-shadow: inset 1px 1px 5px rgba(100,100,100,.75);
    font-family: myFont;
    text-align: center;
}

.containerInfo {
    width: 342px;
    margin: 10px auto;
    font-family: myFont;
}

.addExtras1 {
    float: left;
    width: 140px;
    margin: 10px 40px;
}
.addExtras2 {
    float:right;
    width: 140px;
    margin: 10px 10px;
}

.extras {
    display: inline-block;
    width: 400px
}
.extras p{
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #1f1f1f;
    text-align: center;
}

/*RESERVATION DIV*/
.reservation {
    float:right;
    padding: 20px;
    width: 400px;
    /*height: 635px;*/
    margin: 15px 0;
    border: 1px solid #494949;
    background: rgba(120,120,120,0.9);
}

.radio {
    width: 300px;
    height: 20px;
    font-family: myFont;
    text-align: center;
    /*  color: white;*/
}

#reservationButton {
    margin: 10px 0 0 0;
}