<div class='registration'>
    <article class="redLine">
        <h1 class="formName"> ACCOUNT INFO </h1>
    </article>
    <form id="accountinfo-form" action="">
        <!-- First name -->
        <div class='container'>
            <input id='infoFirstName' class="field" type="text" placeholder='First name' name="firstname">
            <p class='error'></p>
        </div>
        <!-- Last name -->
        <div class='container'>
            <input id='infoLastName' class="field" type="text" placeholder='Last name' name="lastname">
            <p class='error'></p>
        </div>
        <!-- User name -->
        <div class='container'>
            <input id='infoUserName' class="field" type="text" placeholder='User name' name="username">
            <p class='error'></p>
        </div>
        <!-- E-mail -->
        <div class='container'>
            <input id='infoEmail' class="field" type="email" placeholder='E-mail address' name="email">
            <p class='error'></p>
        </div>
        <!-- Password -->
        <div class='container'>
            <input id='infoPassword' class="field" type="password" placeholder='Password' name="password">
            <p class='error'></p>
        </div>
        <!-- Password again -->
        <div class='container'>
            <input id='infoConfirmPassword' class="field" type="password" placeholder='Confirm password' name="secondpassword">
            <p class='error'></p>
        </div>
        <!-- Position -->
        <div class="radio container">
            <label>
                <input id='infoRadio1' type="radio" value="" name="position"> Administrator
            </label>
            <label>
                <input id='infoRadio2' type="radio" value="" name="position"> Receptionist
            </label>
            <p class='error'></p>
        </div>
        <div class='container'>
            <button id="editInfoButton" class="field button">EDIT ACCOUNT</button>
        </div>
    </form>
</div>