 <div class="createRoom">
    <form id="createroom-form">
        <article class="redLine">
            <h1 class="formName"> CREATE ROOM </h1>
        </article>

        <!-- Room number -->
        <div class="container">
            <input id="roomNumber" class="field" type="number" placeholder='Room number' name="roomNumber">
            <p class='error'></p>
        </div>
        <!--Room number of beds-->
        <div class="container">
            <input id="beds" class="field" type="number" placeholder='Number of beds' name="beds">
            <p class='error'></p>
        </div>
        <!--Room price per night-->
        <div class="container">
            <input id="price" class="field" type="number" placeholder='Room price per night' name="price">
            <p class='error'></p>
        </div>
        <!--Room description-->
        <div class='container'>
            <textarea id="description" class="field" placeholder="Room description" rows="5" cols="47" name='description' ></textarea>
        </div>

        <!--Extras-->
        <div class="addExtras">
            <p>EXTRAS:</p>
            <!--Extras-->
            <div class="addExtras1">
                <div class="containerInfo">
                    <input id="wifi" class="checkBox" type="checkbox" name="wifi">
                    <label>Wi-Fi</label>
                </div>
                <div class="containerInfo">
                    <input id="tv" class="checkBox" type="checkbox" name="tv">
                    <label>TV</label>
                </div>
                <div class="containerInfo">
                    <input id="airConditioning" class="checkBox" type="checkbox" name="airConditioning">
                    <label>Air conditioning</label>
                </div>
                <div class="containerInfo">
                    <input id="refrigerator" class="checkBox" type="checkbox" name="refrigerator">
                    <label>Refrigerator</label>
                </div>
                <div class="containerInfo">
                    <input id="hairDryer" class="checkBox" type="checkbox" name="hairDryer">
                    <label>Hair dryer</label>
                </div>
                <div class="containerInfo">
                    <input id="bathroom" class="checkBox" type="checkbox" name="bathroom">
                    <label>Bathroom</label>
                </div>
            </div>
            <div class="addExtras2" >
                <div class="containerInfo">
                    <input id="kitchen" class="checkBox" type="checkbox" name="kitchen">
                    <label>Kitchen</label>
                </div>
                <div class="containerInfo">
                    <input id="livingRoom" class="checkBox" type="checkbox" name="livingRoom">
                    <label>Living room</label>
                </div>
                <div class="containerInfo">
                    <input id="wc" class="checkBox" type="checkbox" name="wc">
                    <label>WC</label>
                </div>
                <div class="containerInfo">
                    <input id="sight" class="checkBox" type="checkbox" name="sight">
                    <label>Sight</label>
                </div>
                <div class="containerInfo">
                    <input id="lux" class="checkBox" type="checkbox" name="lux">
                    <label>Lux</label>
                </div>
            </div>
        </div>
            <div class="container">
                <button id="createroomButton" class="field button">CREATE ROOM</button>
            </div>

    </form>
</div>