 <div class="createRoom">
            <form>
                <article class="redLine">
                    <h1 class="formName"> CREATE ROOM </h1>
                </article>

                <!-- <section class="registration sectionWidth500"> -->
                <div class="container">
                    <input class="field" type="number" placeholder='Room number' name="roomNumber">
                </div>
                <div class="container">
                    <input class="field" type="number" placeholder='Number of beds' name="beds">
                </div>
                <div class="container">
                    <input class="field" type="number" placeholder='Room price per night' name="price">
                </div>
                <div class='container'>
                    <textarea name='description' placeholder="Room description" rows="5" cols="47"></textarea>
                </div>
                <div class="container">
                    <button class="field button">Add extras >></button>
                </div>
                <div class="container">
                    <button class="field button">CREATE ROOM</button>
                </div>

                <dix class="addExtras">
                    <div class="container">
                        <input class="checkBox" type="checkbox">
                        <label>Wi-Fi</label>
                    </div>
                    <div class="container">
                        <input class="checkBox" type="checkbox">
                        <label>TV</label>
                    </div>
                    <div class="container">
                        <input class="checkBox" type="checkbox">
                        <label>Air conditioning</label>
                    </div>
                    <div class="container">
                        <input class="checkBox" type="checkbox">
                        <label>Refrigerator</label>
                    </div>
                    <div class="container">
                        <input class="checkBox" type="checkbox">
                        <label>Hair dryer</label>
                    </div>
                    <div class="container">
                        <input class="checkBox" type="checkbox">
                        <label>Bathroom</label>
                    </div>
                    <div class="container">
                        <input class="checkBox" type="checkbox">
                        <label>Kitchen</label>
                    </div>
                    <div class="container">
                        <input class="checkBox" type="checkbox">
                        <label>Living room</label>
                    </div>

                    <div class="container">
                        <button class="field button">Done</button>
                    </div>

                </div>
            </form>
        </div>