<div class="filter">
    <article class="redLine">
        <h1 class="formName"> SEARCH </h1>
    </article>
    <form id="filter-form" action="">
        <!-- Date from -->
        <div class='container'>
            <p> Check-in Date </p>
            <input class="fieldFilter" type="date" name="dateFrom">
            <p class='error'></p>
        </div>
        <!-- Date to -->
        <div class='container middle'>
            <p>Check-out Date </p>
            <input class="fieldFilter" type="date" name="dateTo">
            <p class='error'></p>
        </div>
        <div class='container'>
            <p>Guests </p>
            <input class="fieldFilter" type="number" placeholder='Number of guests' name="guests">
            <p class='error'></p>
        </div>

        <div >
            <button id="filterButton" class="field button"> SEARCH </button>
        </div>

    </form>
</div>

<div class="freeRooms">

    <article class="redLine">
        <h1 class="formName"> FREE ROOMS </h1>
    </article>

</div>
