
<div class='reservation'>
    <div>
    <article class="redLine">
        <h1 class="formName"> LOG IN </h1>
    </article>
        <form id="login-form">
            <div class='container'>
                <input class="field" type="text" placeholder='User name' name="username">
                <p class='error'></p>
            </div>
            <div class='container'>
                <input class="field" type="password" placeholder='Password' name="password">
                <p class='error'></p>
            </div>
            <div class='container'>
                <button id='loginButton' class="field button">LOG IN</button>
            </div>
         </form>
    </div>
</div>

