
<div class='reservation'>
    <div>
    <article class="redLine">
        <h1 class="formName"> LOG IN </h1>
    </article>
        <form>
            <div class='container'>
                <input class="field" type="text" placeholder='User name' name="userName">
                <p class='error'>fsfd </p>
            </div>
            <div class='container'>
                <input class="field" type="password" placeholder='Password' name="password">
                <p class='error'>fsfs </p>
            </div>
            <div class='container'>
                <button class="field button">LOG IN</button>
            </div>
         </form>
    </div>
</div>

