 <div class='reservation'> 
            <article class="redLine">
                <h1 class="formName"> RESERVATION </h1>
            </article>
            <form action="">
                <h3> Room information </h3>
                <!-- Date from -->
                <div class='container'>
                    <p> Check-out Date </p>
                    <input class="field" type="date" name="dateFrom">
                    <p class='error'></p>
                </div>
                <!-- Date to -->
                <div class='container'>
                    <p>Check-out Date </p>
                    <input class="field" type="date" name="dateTo">
                    <p class='error'></p>
                </div>
                <!-- reservation Status -->
                <div class="radio container">
                    <label>
                        <input type="radio" value="" name="reservationStatus"> Confirmed
                    </label>
                    <label>
                        <input type="radio" value="" name="reservationStatus"> Not confirmed
                    </label>
                <!-- </div>
                <div class="radio container"> -->
                    <label>
                        <input type="radio" value="" name="reservationStatus"> Paid
                    </label>
                    <label>
                        <input type="radio" value="" name="reservationStatus"> Annulled
                    </label>
                    <p class='error'></p>
                </div>
                </form>

                <h3> Personal information </h3>
                <!-- First name -->
                <div>
                    <div class='container'>
                        <input class="field" type="text" placeholder='First name' name="firstName"> 
                        <p class='error'></p>
                    </div>
                    <!-- Last name -->
                    <div class='container'>
                        <input class="field" type="text" placeholder='Last name' name="familyName">
                        <p class='error'></p>
                    </div>
                </div>
                <div>
                    <!-- EGN -->
                    <div class='container'>
                        <input class="field" type="text" placeholder='EGN' name="egn">
                        <p class='error'></p>
                    </div>
                    <!-- Passport -->
                    <div class='container'>
                        <input class="field" type="text" placeholder='Passport' name="passport">
                        <p class='error'></p>
                    </div>
                </div>
                <!-- E-mail -->
                <div>
                    <div class='container'>
                        <input class="field" type="email" placeholder='E-mail address' name="email">
                        <p class='error'></p>
                    </div>
                </div>
                <!-- Phone number -->
                <div class='container'>
                        <input class="field" type="text" placeholder='Phone number' name="phone">
                        <p class='error'></p>
                </div>
                
                <div class='container'>
                    <button class="field button">RESERVATION</button>
                </div>
            </form>
        </div>