<div class="roomInfoContainer">
    <div class="roomInfo">

        <article class="redLine">
            <h1 class="formName"> INFORMATION </h1>
        </article>

        <form id="createroom-form">
            <!-- Room number -->
            <div class="containerInfo">
                <p class="accountFieldInfo">Room number</p>
                <input id="roomNumber" class="fieldInfo" type="number" placeholder='Room number' name="roomNumber">
                <p class='error'></p>
            </div>
            <!--Room number of beds-->
            <div class="containerInfo">
                <p class="accountFieldInfo"> Room number of beds</p>
                <input id="beds" class="fieldInfo" type="number" placeholder='Number of beds' name="beds">
                <p class='error'></p>
            </div>
            <!--Room price per night-->
            <div class="containerInfo">
                <p class="accountFieldInfo">Room price per night</p>
                <input id="price" class="fieldInfo" type="number" placeholder='Room price per night' name="price">
                <p class='error'></p>
            </div>
            <!--Room description-->
            <div class='containerInfo'>
                <p class="accountFieldInfo">Room description</p>
                <textarea id="description" class="fieldInfo" placeholder="Room description" rows="5" cols="47" name='description' ></textarea>
            </div>
            <div class="extras">
                <p>EXTRAS:</p>
            <!--Extras-->
                <div class="addExtras1">
                    <div class="containerInfo">
                        <input id="wifi" class="checkBox" type="checkbox" name="wifi">
                        <label>Wi-Fi</label>
                    </div>
                    <div class="containerInfo">
                        <input id="tv" class="checkBox" type="checkbox" name="tv">
                        <label>TV</label>
                    </div>
                    <div class="containerInfo">
                        <input id="airConditioning" class="checkBox" type="checkbox" name="airConditioning">
                        <label>Air conditioning</label>
                    </div>
                    <div class="containerInfo">
                        <input id="refrigerator" class="checkBox" type="checkbox" name="refrigerator">
                        <label>Refrigerator</label>
                    </div>
                    <div class="containerInfo">
                        <input id="hairDryer" class="checkBox" type="checkbox" name="hairDryer">
                        <label>Hair dryer</label>
                    </div>
                    <div class="containerInfo">
                        <input id="bathroom" class="checkBox" type="checkbox" name="bathroom">
                        <label>Bathroom</label>
                    </div>
                </div>
                <div class="addExtras2" >
                    <div class="containerInfo">
                        <input id="kitchen" class="checkBox" type="checkbox" name="kitchen">
                        <label>Kitchen</label>
                    </div>
                    <div class="containerInfo">
                        <input id="livingRoom" class="checkBox" type="checkbox" name="livingRoom">
                        <label>Living room</label>
                    </div>
                    <div class="containerInfo">
                        <input id="wc" class="checkBox" type="checkbox" name="wc">
                        <label>WC</label>
                    </div>
                    <div class="containerInfo">
                        <input id="sight" class="checkBox" type="checkbox" name="sight">
                        <label>Sight</label>
                    </div>
                    <div class="containerInfo">
                        <input id="lux" class="checkBox" type="checkbox" name="lux">
                        <label>Lux</label>
                    </div>
                </div>
            </div>

            <div class="radio containerInfo">
                <label>
                    <input id="statusRoom1" type="radio" value="" name="reservationStatus"> Free
                </label>
                <label>
                    <input id="statusRoom2" type="radio" value="" name="reservationStatus"> Occupied
                </label>
            </div>
            <div class="radio containerInfo">
                <label>
                    <input id="statusRoom3" type="radio" value="" name="reservationStatus"> Under construction
                </label>
                <label>
                    <input id="statusRoom4" type="radio" value="" name="reservationStatus"> For cleaning
                </label>
                <p class='error'></p>
            </div>

            <div class="containerInfo">
                <button id="editRoomButton" class="fieldInfo button">EDIT ROOM</button>
            </div>
            <div class="containerInfo">
                <button id="saveRoomButton" class="fieldInfo button" >SAVE ROOM</button>
            </div>
        </form>

    </div>


    <!--RESERVATION-->
    <div class='reservation'>
        <article class="redLine">
            <h1 class="formName"> RESERVATION </h1>
        </article>
        <form id="reservation-form" action="">
            <!-- Date from -->
            <div class='containerInfo'>
                <p class="accountFieldInfo"> Check-out Date </p>
                <input class="fieldInfo" type="date" name="dateFrom">
                <p class='error'></p>
            </div>
            <!-- Date to -->
            <div class='containerInfo'>
                <p class="accountFieldInfo">Check-out Date </p>
                <input class="fieldInfo" type="date" name="dateTo">
                <p class='error'></p>
            </div>
            <!-- reservation Status -->
            <div class="radio containerInfo">
                <label>
                    <input id="status1" type="radio" value="" name="reservationStatus"> Confirmed
                </label>
                <label>
                    <input id="status2" type="radio" value="" name="reservationStatus"> Not confirmed
                </label>
            </div>
            <div class="radio containerInfo">
                <label>
                    <input id="status3" type="radio" value="" name="reservationStatus"> Paid
                </label>
                <label>
                    <input id="status4" type="radio" value="" name="reservationStatus"> Canceled
                </label>
                <p class='error'></p>
            </div>
            <h3>Guest information:</h3>
            <!-- First name -->
            <div class='containerInfo'>
                <p class="accountFieldInfo"> First name: </p>
                <input class="fieldInfo" type="text" placeholder='First name' name="firstName">
                <p class='error'></p>
            </div>
            <!-- Last name -->
            <div class='containerInfo'>
                <p class="accountFieldInfo"> Last name: </p>
                <input class="fieldInfo" type="text" placeholder='Last name' name="lastName">
                <p class='error'></p>
            </div>
            <!-- EGN -->
            <div class='containerInfo'>
                <p class="accountFieldInfo"> EGN: </p>
                <input class="fieldInfo" type="text" placeholder='EGN' name="egn">
                <p class='error'></p>
            </div>
            <!-- Passport -->
            <div class='containerInfo'>
                <p class="accountFieldInfo"> Passport: </p>
                <input class="fieldInfo" type="text" placeholder='Passport' name="passport">
                <p class='error'></p>
            </div>
            <!-- E-mail -->
            <div class='containerInfo'>
                <p class="accountFieldInfo"> E-mail: </p>
                <input class="fieldInfo" type="email" placeholder='E-mail address' name="email">
                <p class='error'></p>
            </div>

            <div class='containerInfo'>
                <button id="reservationButton" class="fieldInfo button">RESERVATION</button>
            </div>

        </form>

    </div>
</div>
<div class="allRoomReservation">
    <article class="redLine">
        <h1 class="formName"> ROOM'S RESERVATIONS </h1>
    </article>
    <div class="reservationContainer">

    </div>
    <div class="containerInfo">
        <button id="viewAllReservations" class="fieldInfo button" >SHOW RESERVATIONS</button>
    </div>
</div>